* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
}
.header {
  background-color: #eeeff1;
  min-height: 700px;
  padding: 75px;
}
.header-container {
  max-width: 700px;
  margin: 0 auto;
}
.header-navbar {
  margin-bottom: 40px;
}
.header-navbar__list {
  list-style: none;
  display: flex;
  line-height: 26px;
  column-gap: 39px;
}
.header-navbar__link {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
}
.header-navbar__link.active {
  font-weight: 500;
  color: #34547a;
}
.header-content {
  width: 540px;
}
.header-content__title {
  margin-top: 132px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
}
.header-content__discr {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 58px;
}
.header-content__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 65px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  background-color: #34547a;

  color: #ffffff;
}
.about {
  padding-top: 105px;
  padding-bottom: 100px;
}
.about__container {
  max-width: 580px;
  padding: 0 20px;
  margin: 0 auto;
}
.about__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 35px;
  color: #000000;
}
.about__discr {
  line-height: 26px;
  text-align: center;
  color: #727272;
}
.expirience {
  min-height: 250px;
  background-color: #34547a;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.container--expirience {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  width: 100%;
}
.expirience-item {
  display: flex;
  gap: 20px;
}
.expirience-item__title {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}
.expirience-item__name {
  line-height: 26px;
}
.process {
  padding-top: 100px;
  padding-bottom: 100px;
}
.process__container {
  max-width: 540px;
  margin: 0 auto;
}
.process__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin-bottom: 34px;
}
.process__descr {
  line-height: 26px;
  text-align: center;
  color: #727272;
  margin-bottom: 44px;
}
.process__video {
  width: 100%;
  height: 600px;
  border: none;
}
.footer {
  min-height: 150px;
  background-color: #34547a;
  padding-top: 43px;
}
.footer__name {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 14px;
}
.footer__copyright {
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
}
